<h2 class="page-header"><%= info.title %> </h2>
<div class="book-details">
    <div>
<img class="book-cover" src="/books_covers/<%= String(info.cover_img) %> " alt="" >
<div class="book-details-btn-grid">
<a class="btn btn-primary" href="/books/<%= info.title %>/edit ">Edit</a>
<%- include('../partials/deleteForm',{url:`/books/${info.title}`}) %> 
<a class="btn btn-primary book-details-author-button" href="/authors/<%= author.id %> ">View Author</a>
</div>
</div>

<div class="book-details-grid">
<div class="book-details-label">Author:</div>
<div> <%= author.name %></div>
<div class="book-details-label">Publish Date:</div>
<div><%= info.publishDate.toDateString() %></div>
<div class="book-details-label">Page Count:</div>
<div><%= info.page_count %></div>
<div class="book-details-label">Descritopn:</div>
<div> <%= info.descritopn%></div>
</div>
</div>
