<h2 class="page-header"><%= author.name %></h2> 
<br>
<div class="btn-row">
<a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
<%- include("../partials/deleteForm",{url:`/authors/${author.id}` }) %>
</div>
<h3 class="page-header">Books by <%= author.name %></h3>
<%- include('../partials/bookgrid',
{books:books}) %> 
